<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dilsonjlrjr.javatrellodashboardmateus.mapper.ProjectMapper">

    <resultMap id="resultmapProject" type="com.dilsonjlrjr.javatrellodashboardmateus.model.entities.Project">
        <id property="id" column="project_id" />
        <result property="name" column="project_name" />
        <result property="trelloToken" column="project_trello_token" />
        <result property="trelloKey" column="project_trello_key" />
        <association property="owner" column="user_id" resultMap="com.dilsonjlrjr.javatrellodashboardmateus.mapper.UserMapper.resultMapUser" />
    </resultMap>

    <sql id="fullFieldsProject">
        table_projects.id				    as project_id,
        table_projects."name"			    as project_name,
        table_projects.trello_token		    as project_trello_token,
        table_projects.trello_key		    as project_trello_key
    </sql>

    <update id="update">
        update  "database".projects
        set     "name" = #{project.name},
                trello_token = #{project.trelloToken},
                trello_key = #{project.trelloKey}
        where   id = #{project.id};
    </update>

    <delete id="delete">
        delete  from "database".projects
        where   id = #{id};
    </delete>

    <select id="findByUserId" resultMap="resultmapProject">
        select	<include refid="com.dilsonjlrjr.javatrellodashboardmateus.mapper.UserMapper.fullFieldsUser"/>,
                <include refid="fullFieldsProject" />
        from    "database".users table_users
                inner join "database".projects table_projects on table_projects.id_users_owner = table_users.id
    </select>

    <select id="findById" resultMap="resultmapProject">
        select	<include refid="com.dilsonjlrjr.javatrellodashboardmateus.mapper.UserMapper.fullFieldsUser"/>,
                <include refid="fullFieldsProject" />
        from    "database".users table_users
                inner join "database".projects table_projects on table_projects.id_users_owner = table_users.id
        where   table_projects.id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO "database".projects
            ( name, id_users_owner, trello_token, trello_key )
        VALUES (
                #{project.name},
                #{project.owner.id},
                #{project.trelloToken},
                #{project.trelloKey});
    </insert>
</mapper>