<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dilsonjlrjr.javatrellodashboardmateus.mapper.UserMapper">

    <resultMap id="resultMapUser" type="com.dilsonjlrjr.javatrellodashboardmateus.model.entities.User">
        <id property="id" column="user_id" />
        <result property="name" column="user_name" />
        <result property="email" column="user_email" />
        <result property="username" column="user_username" />
        <result property="password" column="user_password" />
        <result property="refreshToken" column="user_refresh_token" />
        <result property="hashSession" column="user_hash_session" />
    </resultMap>

    <update id="updateSessionUser">
        update 	database.users
        set  	refresh_token = #{refreshToken}, hash_session = #{hashSession}
        where	id = #{id};
    </update>

    <sql id="fullFieldsUser">
        table_users.id              as user_id,
        table_users."name"          as user_name,
        table_users.username        as user_username,
        table_users.email           as user_email,
        table_users."password"      as user_password,
        table_users.refresh_token   as user_refresh_token,
        table_users.hash_session    as user_hash_session
    </sql>

    <sql id="headerDefaultUser">
        select  <include refid="fullFieldsUser" />
        from    database.users table_users
    </sql>

    <select id="findByUsername" resultMap="resultMapUser">
        <include refid="headerDefaultUser" />
        where   username = #{username}
    </select>

    <select id="findByRefreshTokenHashSession" resultMap="resultMapUser">
        <include refid="headerDefaultUser" />
        where   refresh_token = #{refreshToken}
                and hash_session = #{hashSession}
    </select>

    <select id="findAll" resultMap="resultMapUser">
        <include refid="headerDefaultUser" />
    </select>

    <select id="findById" resultMap="resultMapUser">
        <include refid="headerDefaultUser" />
        where   id = #{id}
    </select>
</mapper>